*{
    margin: 0;
    font-family: 'Arial' ;
    font-size: 20px;
}
.container{
    display: flex;
    
    /* flex-wrap: wrap;
    flex-direction: row; */
    min-height: 50px;
    height:fit-content;
    background-color: rgb(52,58,64);
    
    justify-content: space-between;
    /* align-items: flex-start; */
}

.container2{
    display: flex;
    
    /* flex-wrap: wrap;
    flex-direction: row; */
    min-height: 50px;
    height:fit-content;
    background-color: rgb(109,117,125);
    
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.movieWrapper{
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 50px;
    height:fit-content;
    
    
    justify-content: left;
    align-items: center;
    border-radius: 5px;
}

.containerCentered{
    display:flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
}

.container-column{
    background-color: blue;
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  /* margin: T R B L */
  margin: 10px;
  color: white;
  font-size: 20px;
  /* border-radius: 10px; */
  text-align: left;
  padding: 14px
}

.container-row{
    /* display: flex; */
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    
    background-color: blue;
    justify-content: space-evenly;
    align-items: center;
    /* border-radius: 10px; */
}

.paddingBox2{
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    
    background-color: red;
    justify-content: space-evenly;
    /* align-items: space-between; */
    /* border-radius: 10px; */
    padding: 14px;
}

.rightAligned{
    display:flex;
    /* justify-self: flex-end; */
    /* justify-self: center; */
    align-self:center;
}

.leftAligned{
    display:flex;
    align-self : flex-start;
}

.centerAligned{
    display:flex;
    justify-self: center;
}

.individualBox{
    
    padding : 14px;
}

h1{
    font-size: 30px;
}

.white{
    color: white;
}

.goldText{
    color: rgb(254,192,47);
    padding: 14px;
}